// Import other stylesheets into this
@use './normalize.scss/normalize' as *;
@use "colors.scss" as *;


html {
    background: $Neutral110;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $Neutral110;
    font-family: Arial, sans-serif;
}

h1 {
    color: $Neutral10;
}
