@use './colors' as *;

// homepage stuff

html {
    background: $Neutral110;
    margin: 0 40px;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

body {
    background: $Neutral110;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.container {
    width: 1200px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white;
    gap: 16px;
    margin: 40px 0;

    .nav-links {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 128px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 96px 0;
    width: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}


// Text styles

h1, p {
    color: $white;
    margin: 0;
}

.page-title {
    font-family: "Inter", sans-serif;
    font-size: 120px;
}

.body-text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}



// Button styles

a {
    text-decoration: none;
    color: $white;
}

.button {
    display: flex;
    padding: 12px;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    align-self: flex-start;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.default-button {
    background-color: $Neutral90;
    &:hover {
        background-color: $Neutral80;
    }
}

.primary-button {
    background-color: $Primary60;
    &:hover {
        background-color: $Primary70;
    }
}

.secondary-button {
    color: $Primary40;
    background-color: $Primary110;
    &:hover {
        background-color: $Primary100;
    }
}

.link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $Primary40;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

//------------


// Tag styles

.tag {
    display: inline-block;
    padding: 12px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    align-self: flex-start;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.default-tag {
    color: $Neutral10;
    background-color: $Neutral90;
}


//------------